<div data-controller="museums-search" data-museums-search-api-value="<%= ENV.fetch('mapbox_api') %>">
  <h1>Find museums in Germany <i class="fa-solid fa-landmark"></i></h1>
  <p>Enter coordinates below to find your nearest museum(s), grouped by postcode.</p>
    <%= form_with url: "/search", method: :get do |form| %>
      <%= form.label :limit, "Number of museums (1-10):" %>
      <%= form.text_field :limit, data: { museums_search_target: "limit" } %>
      <%= form.label :latitude, "Latitude:" %>
      <%= form.text_field :latitude, data: { museums_search_target: "latitude" } %>
      <%= form.label :longitude, "Longitude:" %>
      <%= form.text_field :longitude, data: { museums_search_target: "longitude" } %>
      <%= form.submit "Find", data: { action: "click->museums-search#submit" }, class: "submit" %>
    <% end %>
  <div data-museums-search-target="results"></div>
</div>
