<h1>Find museums worldwide <i class="fa-solid fa-landmark"></i></h1>
<p>Enter GPS details below to find your nearest museums</p>
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label "Latitude:" %>
  <%= form.text_field :latitude %>
  <%= form.label "Longitude:" %>
  <%= form.text_field :longitude %>
  <%= form.submit "Search" %>
<% end %>
